<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="SwToolsMapper">
    <select id="selectSwToolsList">
      select
      *
      from table05
    </select>
    <select id="selectOne">
      select
      *
      from table05
      where id = #{id}
    </select>
    <select id="selectSwtool">
      select
      *
      from react_swtool
    </select>
  </mapper>